{% extends "./component/base.twig" %}

{% set title = "Form Page" %}

{% block body %}
	<div class="modal toggled">
		<div class="modal-dialog">
			<div class="modal-content">
				<h3 class="modal-title">{{ theme.name }}</h3>

				<form onsubmit="return false;">
					{% set inputName = { "id": "input-name", "name": "name", "type": "text", "label": "Name", "placeholder": "Your Name" } %}
					{% include "./component/form-input.twig" with inputName %}

					{% set inputEmail = { "id": "input-email", "name": "email", "type": "email", "label": "Email Address", "placeholder": "your@email.com" } %}
					{% include "./component/form-input.twig" with inputEmail %}

					<button class="form-button" type="submit">register</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
