{% extends "./component/base.twig" %}

{% set title = "Index" %}
{% set showMoreText = "Show More" %}
{% set showMoreLink = "list-page.html" %}
{% set playlists = [
	{
		"title": "on going",
		"items": onGoingMovies[0:12],
	},
	{
		"title": "most viewed",
		"items": mostViewedMovies[0:12],
	},
	{
		"title": "top rated",
		"items": topRatedMovies[0:12],
	}
] %}

{% block main %}
	{% for playlist in playlists %}
		{% include "./component/playlist.twig" with playlist %}
		<a class="form-button mb-5" href="{{ showMoreLink }}">
			{{ showMoreText }}
		</a>
	{% endfor %}
{% endblock %}
