{% extends "./component/base.twig" %}

{% set title = "List Page" %}

{% block main %}
	{% set playlist = {
		"title": "on going",
		"items": onGoingMovies[0:36]
	} %}

	{% include "./component/playlist.twig" with playlist %}
	{% include "./component/pagenation.twig" %}
{% endblock %}
