{% extends "./component/base.twig" %}

{% set title = "Single Page" %}
{% set tags = ["HD", "Adult"] %}
{% set genres = ["Action", "Triler"] %}
{% set duration = "120min" %}
{% set redirect = "form-page.html" %}

{% block main %}
	<article class="movie">
		<h1 class="movie-title">{{ movie.title }}</h1>
		<div class="movie-grid">
			<div>
				<div id="movie-player" class="movie-player group">
					<video class="movie-video" poster="{{ movie.backdrop }}" controls crossorigin playsinline></video>
					<button class="movie-toggle group-[.toggled]:hidden" type="button" aria-label="movie toggle" data-toggle="#movie-player">
						<i class="icon-player"></i>
					</button>
				</div>
			</div>
			<div class="movie-card">
				<ul class="movie-attribute">
					<li class="movie-attribute-item">
						<i class="movie-icon icon-rate"></i>
						{{ movie.rate }}
					</li>
					<li class="movie-attribute-item">
						<i class="movie-icon icon-view"></i>
						{{ movie.view }}
					</li>
					{% for tag in tags %}
						<li class="movie-attribute-item">
							<a class="movie-tag" href="#">{{ tag }}</a>
						</li>
					{% endfor %}
				</ul>
				<ul class="movie-property">
					<li>
						<i class="icon-genre"></i>
						Genre:
						{% for genre in genres %}
							<a class="movie-link" href="#">{{ genre }}</a>
						{% endfor %}
					</li>
					<li>
						<i class="icon-release"></i>
						Release:
						{{ movie.release }}
					</li>
					<li>
						<i class="icon-duration"></i>
						Duration:
						{{ duration }}
					</li>
				</ul>
				<p class="movie-overview">{{ movie.overview }}</p>
			</div>
		</div>
	</article>
{% endblock %}
