
.icon-release:before { content: '\e800'; } /* '' */
.icon-genre:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-rate:before { content: '\e806'; } /* '' */
.icon-duration:before { content: '\e807'; } /* '' */
.icon-view:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-player:before { content: '\f16a'; } /* '' */
