@layer components {
    * {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    html {
        @apply size-full scroll-smooth m-0 p-0 border-0;
    }

    body {
        @apply size-full m-0 p-0 border-0;
        @apply flex flex-col transition-all;
        @apply bg-cover bg-no-repeat bg-center bg-fixed;
        background-image: var(--background-url);
    }

    header {
        @apply flex py-1 md:py-2.5;
        @apply bg-[--background-color];
    }

    main {
        @apply flex font-normal text-sm text-[--secondary-color] my-5;
        @apply bg-gradient-to-t from-transparent via-[--background-color] via-50% to-transparent;
    }

    footer {
        @apply flex mt-auto py-1 md:py-2.5;
        @apply text-[--secondary-color] bg-[--background-color];
    }

    .container {
        @apply sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl !important;
        @apply mx-auto px-5 sm:px-0 py-2 sm:py-0;
    }

    .button {
        @apply flex justify-center items-center min-h-10 min-w-10 rounded shadow-lg;
        @apply font-ubuntu text-[--bold-color] bg-gradient-to-r from-[--primary-color] to-[--linear-color] !important;
        @apply opacity-85 hover:opacity-100;
    }

    .title-gradient {
        @apply font-ubuntu font-bold text-4xl text-transparent;
        @apply bg-clip-text bg-gradient-to-r from-[--bold-color] via-[--primary-color] via-70% to-[--linear-color];
    }

    .error-document {
        @apply text-center my-28 text-6xl;
    }
}