@layer components {
    .footer-column {
        @apply columns-3 md:columns-4;
    }

    .footer-column-section {
        @apply break-inside-avoid mb-5;
    }

    .footer-column-title {
        @apply font-ubuntu font-bold text-base capitalize mt-1.5 mb-1;
    }

    .footer-column-list {
        @apply mb-1.5;
    }

    .footer-column-link {
        @apply text-sm font-normal text-[--secondary-color] hover:text-[--primary-color];
    }
}