@layer components {
	.form-button {
		@apply button font-normal text-base capitalize w-full mt-5;
	}

	.form-group {
		@apply relative my-5;
	}

	.form-input {
		@apply block w-full h-14 m-0 px-3 py-4;
		@apply border border-solid border-[--bold-color] rounded;
		@apply font-normal text-base text-[--primary-color] leading-tight;
		@apply bg-transparent bg-clip-padding;
		@apply transition duration-200 ease-linear;
	}

	.form-label {
		@apply absolute left-0 top-0 origin-[0_0] px-3 py-4;
		@apply border border-solid border-transparent;
		@apply text-[--bold-color];
		@apply duration-200 ease-linear;
		@apply pointer-events-none motion-reduce:transition-none;
	}
}