@layer components {
    .legality {
        @apply block font-normal text-center text-xs m-0 px-6 py-2.5 mt-2.5 border-t border-[--border-color];
    }

    .legality-link {
        @apply text-[--primary-color];
    }
}