@layer components {
	.modal {
		@apply fixed top-0 left-0 w-full h-full p-5 bg-zinc-700/30;
		@apply [&:not(.toggled)]:hidden flex items-center justify-center;
	}

	.modal-dialog {
		@apply text-center rounded bg-[--background-color];
		@apply before:block before:h-0.5 before:bg-gradient-to-r before:from-[--bold-color] before:via-[--primary-color] before:via-70% before:to-[--linear-color];
	}

	.modal-content {
		@apply py-12 px-14;
	}

	.modal-title {
		@apply title-gradient uppercase mb-12;
	}
}