@layer components {
    .movie {
        @apply py-5;
    }

    .movie-title {
        @apply font-ubuntu font-light text-4xl text-[--bold-color] my-5;
    }

    .movie-grid {
        @apply flex flex-col xl:flex-row;
    }

    .movie-player {
        @apply relative;
    }

    .movie-video {
        @apply max-h-80 mx-auto;
    }

    .movie-toggle {
        @apply absolute text-[--primary-color];
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        font-size: 4rem;
    }

    .movie-card {
        @apply mt-5 xl:mt-0 ml-0 xl:ml-5 xl:max-w-[50%];
    }

    .movie-attribute {
        @apply flex flex-row font-ubuntu font-bold text-base [&:not(:first-child)]:mt-4;
    }

    .movie-attribute-item {
        @apply text-[--bold-color] [&:not(:first-child)]:ml-2;
    }

    .movie-icon {
        @apply text-[--primary-color];
    }

    .movie-tag {
        @apply font-ubuntu font-bold text-sm text-[--border-color] border border-[--border-color] rounded px-1.5 py-1;
    }

    .movie-property {
        @apply flex flex-col font-normal text-sm [&:not(:first-child)]:mt-4;
    }

    .movie-link {
        @apply text-[--primary-color] hover:underline;
    }

    .movie-overview {
        @apply text-balance [&:not(:first-child)]:mt-4;
    }
}