@layer components {
    .navbar {
        @apply flex flex-col uppercase;
    }

    .navbar-group {
        @apply flex justify-between;
    }

    .navbar-group-item {
        @apply flex flex-row content-center;
    }

    .navbar-brand {
        @apply title-gradient mr-2;
    }

    .navbar-button {
        @apply button font-normal text-base h-10 w-32;
    }

    .navbar-menu {
        @apply button text-3xl md:hidden h-10 w-10;
    }

    .navbar-list {
        @apply mt-1 pt-1 border-t border-t-[--border-color];
        @apply hidden [&.toggled]:block md:flex md:flex-row;
    }

    .navbar-link {
        @apply block text-[--secondary-color] hover:text-[--primary-color] px-7 py-2.5 md:p-2.5;
    }
}