@layer components {
    .playlist-title {
        @apply capitalize font-ubuntu font-light text-4xl text-[--bold-color];
    }

    .playlist-column {
        @apply columns-3 lg:columns-4 xl:columns-6 mt-5;
    }

    .playlist-item {
        @apply break-inside-avoid mb-5;
    }

    .playlist-item-picture {
        @apply block overflow-hidden;
    }

    .playlist-item-image {
        @apply mx-auto aspect-[3/4];
    }

    .playlist-item-title {
        @apply truncate font-ubuntu font-normal text-lg text-[--bold-color];
    }

    .playlist-item-attribute {
        @apply flex flex-row font-ubuntu font-bold text-base;
    }

    .playlist-item-attribute-item {
        @apply text-[--bold-color] [&:not(:first-child)]:ml-2;
    }

    .playlist-item-icon {
        @apply text-[--primary-color];
    }
}