:root {
    --background-url: url('../image/background.webp');
    --background-color: #2b2b31;

    --primary-color: #ff55a5;
    --secondary-color: rgba(255, 255, 255, 0.75);
    --bold-color: #ffffff;
    --linear-color: #ff5860;

    --border-color: rgba(255, 255, 255, 0.25);
}