{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
	<head>
{% include "./head.twig" %}
<title>{{ title }} - {{ theme.name }}</title>
	</head>

	<body>
{% block body %}
	<header class="order-1">
		<div class="container">
			{% include "./navbar.twig" %}
		</div>
	</header>

	<main class="order-2">
		<div class="container">
			{% block main %}{% endblock %}
		</div>
	</main>

	<footer class="order-3">
		<div class="container">
			{% include "./footer-column.twig" %}
			{% include "./legality.twig" %}
		</div>
	</footer>
{% endblock %}
	</body>
</html>
{% endapply %}
