{% set onGoings = [] %}
{% for onGoing in onGoingMovies[0:6] %}
	{% set item = {
		"text": onGoing.title,
		"link": "single-page.html",
	} %}

	{% set onGoings = onGoings|merge([item]) %}
{% endfor %}

{% set mostVieweds = [] %}
{% for mostViewed in mostViewedMovies[0:6] %}
	{% set item = {
		"text": mostViewed.title,
		"link": "single-page.html",
	} %}

	{% set mostVieweds = mostVieweds|merge([item]) %}
{% endfor %}

{% set topRateds = [] %}
{% for topRated in topRatedMovies[0:6] %}
	{% set item = {
		"text": topRated.title,
		"link": "single-page.html",
	} %}

	{% set topRateds = topRateds|merge([item]) %}
{% endfor %}

{% set columns = [
	{ "title": "on going", "items": onGoings },
	{ "title": "most viewed", "items": mostVieweds },
	{ "title": "top rated", "items": topRateds },
	{
		"title": "Pages",
		"items": [
			{
				"text": "Index Page",
				"link": "index.html",
			},
			{
				"text": "List Page",
				"link": "list-page.html",
			},
			{
				"text": "Single Page",
				"link": "single-page.html",
			},
			{
				"text": "Form Page",
				"link": "form-page.html",
			},
			{
				"text": "404 Page",
				"link": "404.html",
			},
		]
	}
] %}

<div class="footer-column">
	{% for column in columns %}
		<section class="footer-column-section">
			<h2 class="footer-column-title">{{ column.title }}</h2>
			<ul class="footer-column-list">
				{% for item in column.items %}
					<li>
						<a class="footer-column-link" href="{{ item.link }}">{{ item.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
</div>
