<div class="form-group">
	<input id="{{ id }}" class="form-input focus:border-primary focus:pb-2.5 focus:pt-6 focus:text-[--bold-color] focus:outline-none placeholder:text-transparent focus:placeholder:text-[--border-color] [&:not(:placeholder-shown)]:pb-2.5 [&:not(:placeholder-shown)]:pt-6 peer peer-focus:text-primary" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}">
	<label class="form-label transition-[opacity, _transform] peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85]" for="{{ id }}">{{ label }}</label>
</div>
