{% set brandLink = "index.html" %}
{% set buttonText = "member area" %}
{% set buttonLink = "form-page.html" %}
{% set navitems = ["on going", "most viewed", "top rated"] %}
{% set navLink = "list-page.html" %}

<nav class="navbar">
	<div class="navbar-group order-first">
		<div class="navbar-group-item order-first">
			<a class="navbar-brand" href="{{ brandLink }}">{{ theme.name }}</a>
		</div>
		<div class="navbar-group-item order-last">
			<a class="navbar-button" href="{{ buttonLink }}">{{ buttonText }}</a>
			<button class="navbar-menu ml-2" type="button" data-toggle="#navbar-toggle" aria-label="navbar menu">
				<i class="icon-menu"></i>
			</button>
		</div>
	</div>
	<ul id="navbar-toggle" class="navbar-list order-last">
		{% for item in navitems %}
			<li>
				<a class="navbar-link" href="{{ navLink }}">{{ item }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
