{% set prev = "previous" %}
{% set next = "next" %}
{% set link = "list-page.html" %}

<div class="pagenation">
	<div>
		<a class="pagenation-button pl-1 pr-2" href="{{ link }}" rel="prev">
			<i class="icon-left"></i>
			{{ prev }}
		</a>
	</div>
	<div>
		<a class="pagenation-button pl-2 pr-1" href="{{ link }}" rel="next">
			{{ next }}
			<i class="icon-right"></i>
		</a>
	</div>
</div>
