{% set itemLink = "single-page.html" %}

<section class="playlist">
	<h2 class="playlist-title">{{ title }}</h2>
	<div class="playlist-column">
		{% for item in items %}
			<a class="group" href="{{ itemLink}}">
				<article class="playlist-item">
					<picture class="playlist-item-picture">
						<img class="playlist-item-image group-hover:scale-125" src="{{ item.poster }}" alt="{{ item.title }}" loading="lazy">
					</picture>
					<h3 class="playlist-item-title group-hover:text-[--primary-color]">{{ item.title }}</h3>
					<ul class="playlist-item-attribute">
						<li class="playlist-item-attribute-item">
							<i class="playlist-item-icon icon-rate"></i>
							{{ item.rate }}
						</li>
						<li class="playlist-item-attribute-item">
							<i class="playlist-item-icon icon-view"></i>
							{{ item.view }}
						</li>
					</ul>
				</article>
			</a>
		{% endfor %}
	</div>
</section>
